//
// Labels
// =============================================================================

.label {
  background-color: getColor(base, primary);
  border-radius: 3px;
  color: getColor(text, ui);
  display: inline-block;
  font-size: typeScale(1);
  line-height: 1lh;
  padding: 0 1em;
}
